.graph-column {
    flex-basis: 90%;
    margin: 0;
    padding: 0;
}

.graph-container {
    background-color: #dbdfe1;
    border-bottom-right-radius: 5px;
    width: inherit;
    height: 70%;

}

.graph-columns {
    display: flex;
    flex-direction: column;
}

.text-preview {
    height: 30%;
    background-color: whitesmoke;
}

.text-preview__header {
    font-family: "Bookman Old Style", Helvetica, sans-serif;
    background-color: #0277bd;
    color: white;
    font-size: large;
    border-radius: 5px;
}

.text-preview__content {
    font-family: "Bookman Old Style", Helvetica, sans-serif;
    font-size: large;
    height: 17vh;
    overflow: auto;
    width: 75vw;
}