::-webkit-scrollbar {
    width: 4px; /* for vertical scrollbars */
    height: 4px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #BBDEFB;
}

::-webkit-scrollbar-thumb {
    background: #0D47A1;
}