
.app-container {
    font-family: "Bookman Old Style", Helvetica, sans-serif;
    width: 97vw;

}

.header-container {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 32px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #215b7a;
    color: #ffffff;
    text-indent: 10px;
    border-radius: 5px 5px 0 0;
}

.header-title {
    align-self: stretch;
    align: left;
    margin-left: 0;
    background: transparent;
}

.header-dropdown-menu{
    background: transparent;
    align-self: flex-end;

    padding: 0 2px ;
    box-sizing: border-box;
    cursor: pointer;
    font-size: smaller;
}

.content-container {
    display: flex;
    height: 70vh;
    flex-direction: row;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #68afc4;
    border-radius: 0 0 5px 5px;
}


.panel-container {
    width: 25vw;
    height: auto;
    background-color: #f7fcfe;
    word-wrap: break-word;
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #68afc4;
}


.panel-tabs{


}

::-webkit-scrollbar {
    width: 4px; /* for vertical scrollbars */
    height: 4px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #BBDEFB;
}

::-webkit-scrollbar-thumb {
    background: #0D47A1;
}