.popup {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: #000;
    background-color: #ffffff;
    height: 200px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}


.popup-header {
    display: flex;
    flex-direction: column;
}

.popup__btn {
    width: 50%;
}

.popup__input {
    width: 100%;
}

.popup-header__btn-close {
    float: right;
}

.popup-header__text {
    width: auto;
}

.popup__select-or-create {}

.popup__select-or-create__choices {
    display: flex;
    flex-direction: row;
}

.popup__select-or-create__choice-active {
    font-weight: bold;
    border-top: solid;
}
.popup__select-or-create__choice-inactive {
    cursor: pointer;
}
