.panel-tab-nav {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-grow: 1;
    background-color: #6490af;

}

[class^="panel-tab-nav__nav-item"] {
    display: flex;
    flex-grow: 1;
    font-size: small;
    letter-spacing: 0;
    flex-grow: 1;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(145, 145, 145, 0.15);
    border-width: 1px;
    border-color: #5f89af;

}

[class^="panel-tab-nav__nav-item"] {
    cursor: pointer;
    width: inherit;
    border-bottom-style: solid;
}

.panel-tab-nav__nav-item--active {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: #5f89af;
    background-color: #f7fcfe;

}



[class^="tab-graph__list-item"] {

}

ul {
    padding: 5px;
    list-style-type: none;
    overflow: auto;
}

li {
    background-color: #ffffff;
    margin: 0;
    border-radius: 2px;
    font-size: small;
    border-color: rgba(155, 155, 155, 0.51);
    border-width: 1px;
}

.tab-elements__list-item__selected li{
    background-color: #af0027;
    size: 30px;
}

.tab-elements__filter-input {
    width: 100%;
    background-color: white;
    background-image: url('../media/magnifier.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 3px;
}

[class^="style-selection-table"] {
    display: flex;
    flex-direction: column;
    text-size: small;
    width: auto;
    background-color: white;
    overflow: hidden;
}
label {
    text-underline-style: solid;
}

span {
    display: flex;
    flex-grow. 1;
    background-color: #0D47A1;
    color: white;
}

td {
    width: 50%;
}