.popup {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: #000;
    border-width: 1px;
    background-color: #ffffff;
    height: 200px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}
input {
    width: inherit;
}

select {
    width: inherit;
}


.popup-header {

}

.popup-header__btn-close {
    height: 200px;
}

.popup-header__text {
    width: auto;
}