
[class^="dynamic-list-input"] {
    margin: 4px;
    display: flex;
    font-size: small;
    flex-direction: column;
    background: rgba(0, 100, 0, 0.2);
        -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dynamic-list-input__label {
    background: transparent;

}



.dynamic-list-input__input-block {
    display: flex;
    background: transparent;
    flex-direction: row;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dynamic-list-input__input-text {
    width: 80%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 0;
    border-right: none 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.dynamic-list-input__button {
    background: transparent;
    box-sizing: border-box;
    height: 100%;
    margin-left: 0;
    border: inset 2px;
    border-left: none 0;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.dynamic-list-input__list {
    background: transparent;
    list-style: none;
    padding-top: 0;
    margin-top: 0;
    padding-left: 0;
}

.dynamic-list-input__list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #b5b5b5;
    color: black;
}

.dynamic-list-input__list-item__text {
    background: transparent;
    align-self: stretch;
    padding-bottom: 2px;
    margin-left: 0;
}

.dynamic-list-input__list-item__delete-btn {
    background: floralwhite;
    align-self: flex-end;
    border: solid #f5f5f5;
    padding: 0 2px ;
    box-sizing: border-box;
    cursor: pointer;
    font-size: smaller;
}

.dynamic-list-input__list-item__delete-btn:hover {
    background: #a57f3d;
    border: solid #f5f5f5;

}




